html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  max-width: 100%;
  overflow-x: hidden;
  overflow: scroll;
}
.parallax_image_birds{
  background-image: url("../imgs/my-photos/birds.JPG");
}
.parallax_image_flatirons{
  background-image: url("../imgs/my-photos/flatirons.jpg");
}
.parallax_image_computer{
  background-image: url("../imgs/my-photos/comp.jpg");
}
.parallax_image_drums{
  background-image: url("../imgs/my-photos/drums.jpg");
}
.parallax_image_chip{
  background-image: url("../imgs/my-photos/chip.jpg");
}
.parallax_section h1{
  margin: 0;
  font-size: 60px;
  white-space: nowrap;
  position: relative;
}
.parallax_section_overlay{
  opacity: 0.25;
  background: white;
}
.content-wrapper {
  padding-left: 25px;
  padding-right: 25px;
  overflow: auto;
  padding-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 20px;
}
.column span{
  padding: 5px;
}
.column td{
  width: 35px;
}
p{
  text-align: left;
}
.content-wrapper p{
  font-size: 18px;
  color: #666;
  height: auto;
}

.content-wrapper h2{
  font-size: 55px;
  padding-top: 20px;
  margin-top:0px;
  /* inset shadows */
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.content-wrapper h3{
  text-align: left;
  color: black;
  font-size: 28px;
}
.content-wrapper img{
  padding: 10px;
  height: 100px;
  width: 100px;
}
.content-wrapper table{
  text-align: center;
  box-shadow: 1px 1px 10px black;
}
.footer{
  position: relative;
  /* negative value of footer height */
  height: 40px;
  clear: both;
  background-color:#404040;
}
.footer span{
  text-align: center;
  margin-bottom: 0px;
  padding-top: 6px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  display: block;
  height: 100%; /* height of footer */
}
#projects img{
  min-width: 200px;
  height: 250px;
  max-width: 425px;
  transition: .5s;
  box-shadow: 1px 1px 15px black;
  padding: 0;
}
#projects img:hover{
  width: 425px;
  height: 275px;
  transition: .5s;
}

/* MEDIA QUERIES for Desktop / Mobile integration */
/* MOBILE */
@media all and (max-width: 600px) {
  #projects img{
    width: 250px;
    transition: 1s;
  }
  .sidenav{
    transition: 1s;
    display: none !important;
  }
  .content-wrapper{
    transition: 1s;
    margin-left: 0px;
    max-height: auto;
  }
  .parallax_section{
    transition: 1s;
    margin-left:0px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .parallax_image_first{
    margin-left: 0px;
    max-width: 100%;
    transition: 1s;
    z-index: 0;
  }
  .parallax_image_second{
    margin-left: 0px;
    max-width: 100%;
    transition: 1s;
    z-index: 0;
  }  
  .parallax_image_third{
    margin-left: 0px;
    max-width: 100%;
    transition: 1s;
    z-index: 0;
  }
  .parallax_image_fourth{
    margin-left: 0px;
    max-width: 100%;
    transition: 1s;
    z-index: 0;
  }
  .parallax_image_fifth{
    margin-left: 0px;
    max-width: 100%;
    transition: 1s;
    z-index: 0;
  }
  .center{
    transition: 1s;
    font-size: 50px;
    display:none !important;
  }
  .footer{
    margin-left: 0px;
    transition: 1s;
  }
  .sidenav-content{
    height:100%;
    width: 0px;
    transition: 1s;
  }
  .parallax_section h1{
    transition: 1s;
    line-height: 6;
  }
}
/* == DESKTOP ==  */
@media all and (min-width: 601px){
  #projects img{
    transition: 1s;
    width: 400px;
  }
  .sidenav{
    transition: 1s;
    display:block;
  }
  .parallax_section h1{
    transition: 1s;
    line-height: 12;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-wrapper{
    margin-top: 0px; 
    margin-left: 150px;
    transition: 1s;
    font-size: 15px;
  }
  .parallax_section{
    transition: 1s;
    background-attachment: fixed;
    margin-left: 150px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
  }  
  .parallax_section_overlay{
    height: 100%;
  }
  .parallax_image_first{
    margin-left: 150px;
    max-width: 100%;
    height: 100%;
    transition: 1s;
    background-size: cover;
  }  
  .parallax_image_second{
    margin-left: 150px;
    max-width: 100%;
    height: 100%;
    transition: 1s;
    background-size: cover;
  } 
  .parallax_image_third{
    margin-left: 150px;
    max-width: 100%;
    height: 100%;
    transition: 1s;
    background-size: cover;
  } 
  .parallax_image_fourth{
    margin-left: 150px;
    max-width: 100%;
    height: 100%;
    transition: 1s;
    background-size: cover;
  } 
  .parallax_image_fifth{
    margin-left: 150px;
    max-width: 100%;
    height: 100%;
    transition: 1s;
    background-size: cover;
  }
  .center{
    display:block;
  }
  .footer{
    margin-left: 150px;
    transition: 1s;
  }
  .navbar-collapse.collapse{
    transition: 1s;
    display: none !important;
  }
  .container-fluid{
    transition: 1s;
    display: none !important;
  }
  .navbar-default{
    transition: 1s;
    display: none !important;
  }
  .sidenav-content{
    height: 100%;
    width: 150px;
    transition: 1s;
  }
  .navbar-toggle{
    margin-top: 20px;
    transition: 1s;
  }
}
